/* Custom tambahan */
body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  background: linear-gradient(135deg, #007bff, #0056b3);
}

.card img {
  height: 220px;
  object-fit: cover;
}

footer {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}                       
footer a {
  color: #ffc107;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}   